.container {
    display: flex;
    justify-content: center;

}
.title {
    display: flex;
    justify-content: center;
    margin: 20px;
}
#root {
    margin: auto;
    height: 500px;
    width: 500px;
}
.tasks {
    display: flex;
    justify-content: center;
    
}
.row {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
