.container {
    display: flex;
    justify-content: center;
}

.container::before,
.container::after {
    content: "";
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.375rem;
    left: 400px;
    right: 400px;
    bottom: 0;
}

.container::before {
    z-index: -1;
    height: 500px;
    margin: 0 5px;
    top: 20px;
}

.container::after {
    z-index: -2;
    height: 520px;
    margin: 0 10px;
    top: 20px;
}

.title {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-style: oblique;
}

#root {
    margin: auto;
    height: 500px;
    width: 800px;
}

.tasks {
    display: flex;
    justify-content: center;

}

.row {
    display: flex;
    justify-content: center;

}

button {
    display: none;
}

.list-group-item:hover button {
    display: inline-block;
}
